<form [formGroup]="formData">
<div class="container">

    <div class="row">

        <div class="col-4"></div>

        <div class="col-2">
            <div class="row">
                <label>Username</label>
                <input type="text" formControlName="username" value="" >
            </div>

            <div class="row">
                <label>Password</label>
                <input type="password" formControlName="password" value="" >
            </div>

            <div class="row float-right">
                <button name="login" (click)="login()">Login</button>
            </div>
        </div>

        <div class="col-4"></div>

    </div>


</div>
</form>